<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localHost:3306/LinkedForever" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>com/domain/Country.hbm.xml</value>
				<value>com/domain/Province.hbm.xml</value>
				<value>com/domain/City.hbm.xml</value>
				<value>com/domain/University.hbm.xml</value>
				<value>com/domain/PrimarySchool.hbm.xml</value>
				<value>com/domain/JuniorSchool.hbm.xml</value>
				<value>com/domain/SeniorSchool.hbm.xml</value>
				<value>com/domain/Student.hbm.xml</value>
				<value>com/domain/StuUniversity.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<value>
				hibernate.dialect = org.hibernate.dialect.MySQLDialect
				hibernate.hbm2ddl.auto = create
				hibernate.show_sql = true
			</value>
		</property>
	</bean>
	
	<tx:annotation-driven />
	<bean id="transactionManager"
	    class="org.springframework.orm.hibernate4.HibernateTransactionManager">
	    <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="persistenceExceptionTranslationPostProcessor"
        class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

<!--  
	<bean id="iStudentDAO" class="com.dao.StudentDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="iCountryDAO" class="com.dao.CountryDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="iProvinceDAO" class="com.dao.ProvinceDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="iCityDAO" class="com.dao.CityDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="iUniversityDAO" class="com.dao.UniversityDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	-->
	
	<bean id="iStudentDAO" class="com.factory.DaoFactory" factory-method="getStudentDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="iCountryDAO" class="com.factory.DaoFactory" factory-method="getCountryDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="iProvinceDAO" class="com.factory.DaoFactory" factory-method="getProvinceDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="iCityDAO" class="com.factory.DaoFactory" factory-method="getCityDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="iUniversityDAO" class="com.factory.DaoFactory" factory-method="getUniversityDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="testAction" class="com.test.TestAction">
		<property name="iStudentDAO" ref="iStudentDAO" />
		<property name="iCountryDAO" ref="iCountryDAO" />
		<property name="iProvinceDAO" ref="iProvinceDAO" />
		<property name="iCityDAO" ref="iCityDAO" />
		<property name="iUniversityDAO" ref="iUniversityDAO" />
	</bean>
	
	<bean id="listProvinceAction" class="com.action.ListProvinceAction">
		<property name="iProvinceDAO" ref="iProvinceDAO"></property>
	</bean>

</beans>